*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.boxr1{
    width: auto;
    height: 100px;
}
.box-1 span{
    font-size: 20px;
    position: relative;
    top: 80px;
    left: 80px;
}
.box-1{
    font-size: 20px;
    width: 200px;
    height: 200px;
    background-color: brown;
    float: left;
}
.top{
    margin-left: 100px;
}
.down{
    position: relative;
    top: 70px;
    margin-left: 100px;
}
.box2{
    position: relative;
    top: 40px;
    left: 30px;
}
.box-2{
    text-align: center;
    width: 600px;
    height: 100px;
    background-color: blueviolet;
    float: left;
}
.boxr2{
    width: auto;
    height: 100px;
    margin-left: 200px;
}
.box-3{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 187, 255);
    float: left;
}
.box-4{
    width: 100px;
    height: 100px;
    background-color: rgb(174, 0, 255);
    float: left;
}
.box-5{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 255, 174);
    float: left;
}
.box-6{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 251, 0);
    float: left;
}
.box-7{
    width: 100px;
    height: 100px;
    background-color: rgb(234, 0, 255);
    float: left;
}
.box-8{
    width: 100px;
    height: 100px;
    background-color: rgb(28, 193, 119);
    float: left;
}
.boxr3{
    width: auto;
    height: 200px;
}
.center{
    position: relative;
    top: 100px;
    left: 30px;
}
.downl{
    margin: 10px;
    float: right;
    position: relative;
    top: 170px;
}
.box-9{
    width: 100px;
    height: 200px;
    background-color: rgb(28, 171, 193);
    float: left;
}
.right1{
    margin-left: 90px;
}
.box-10 div{
    width: 100px;
    height: 90px;
}
.box-10{
    width: 100px;
    height: 1000px;
    background-color: rgb(78, 179, 134);
    float: left;
}
.box-11 div{
    width: 50px;
    height: auto;
    float: left;
}
.leftmar{
    margin-top: 40px;
    margin-left: 80px;
}
.down11{
    margin-top: 80px;
}
.box-11{
    width: 500px;
    height: 100px;
    background-color: rgb(28, 171, 193);
    float: left;
}
.right{
    margin-top: -18px;
    float: right;
}
.center1{
    text-align: center;
    margin-top: 50px;
}
.box-12{
    width: 100px;
    height: 200px;
    background-color: rgb(28, 193, 75);
    float: left;
}
.boxr4{
    width: auto;
    height: 0px; 
}
.box-13 div{
    margin-top: 30px;
    text-align: center;
    width: 100px;
    height: 50px;
}
.box-13{
    width: 100px;
    height: 300px;
    background-color: rgb(28, 193, 75);
    float: left;
    margin-top: -100px;
}
.box-14{
    width: 300px;
    height: 100px;
    background-color: rgb(193, 133, 28);
    float: left;
    margin-top: -100px;
}
.box-15 div{
    margin-top: 50px;
    text-align: center;
}
.box-15{
    width: 100px;
    height: 300px;
    background-color: rgb(21, 66, 92);
    float: left;
    margin-top: -100px;
    margin-left: 300px;
}
.boxr5{
    width: auto;
    height: 100px;
}
.box-16{
    width: 100px;
    height: 100px;
    background-color: rgb(28, 193, 75);
    float: left;
    margin-left: -700px;
}
.box-17{
    width: 100px;
    height: 100px;
    background-color: rgb(28, 166, 193);
    float: left;
    margin-left: -400px;
}
.box-18{
    width: 100px;
    height: 100px;
    background-color: rgb(28, 193, 113);
    float: left;
    margin-left: -300px;
}
.box-19{
    width: 100px;
    height: 300px;
    background-color: rgb(28, 111, 193);
    float: left;
    margin-left: -200px;
}
.box-20{
    width: 100px;
    height: 100px;
    background-color: rgb(179, 28, 193);
    float: left;
}
.boxr6{
    width: auto;
    height: 100px;
}
.box-21{
    width: 100px;
    height: 100px;
    background-color: rgb(179, 28, 193);
    float: left;
    margin-left: -700px;
}
.box-22 div{
    text-align: center;
}
.he{
    margin-top: 160px;
}
.box-22{
    width: 100px;
    height: 200px;
    background-color: rgb(179, 28, 193);
    float: left;
    margin-left: -400px;
}
.box-23{
    width: 100px;
    height: 100px;
    background-color: rgb(28, 94, 193);
    float: left;
    margin-left: -300px;
}
.box-24 div{
    width: 100px;
    text-align: center;
    margin-top: 50px;
}
.leftss{
    margin-left: 30px;
}
.box-24{
    width: 100px;
    height: 300px;
    background-color: rgb(193, 28, 102);
    float: left;
}
.boxr7{
    width: auto;
    height: 100px;
}
.box-25{
    width: 100px;
    height: 200px;
    background-color: rgb(28, 116, 193);
    float: left;
    margin-left: -800px;
}
.box-26{
    width: 100px;
    height: 200px;
    background-color: rgb(86, 28, 193);
    float: left;
    margin-left: -600px;
}
.box-27 div{
    margin-top: 70px;
    text-align: center;
}
.box-27{
    width: 100px;
    height: 200px;
    background-color: rgb(86, 28, 193);
    float: left;
    margin-left: -400px;
}
.box-28{
    width: 100px;
    height: 100px;
    background-color: rgb(86, 28, 193);
    float: left;
    margin-left: -200px;
}
.boxr8{
    width: auto;
    height: 100px;
}
.box-29{
    width: 100px;
    height: 200px;
    background-color: rgb(69, 193, 28);
    float: left;
    margin-left: -500px;
}
.box-30{
    width: 100px;
    height: 100px;
    background-color: rgb(168, 28, 193);
    float: left;
    margin-left: -300px;
}
.centerbb{
    margin-top: 80px;
}
.box-31 div{
    text-align: center;
}
.box-31{
    width: 100px;
    height: 200px;
    background-color: rgb(28, 193, 177);
    float: left;
    margin-left: -200px;
}
.boxr9{
    width: auto;
    height: 200px;
}
.box-32{
    width: 100px;
    height: 100px;
    background-color: rgb(28, 39, 193);
    float: left;
    margin-left: -200px;
}
.box-33{
    width: 100px;
    height: 200px;
    background-color: rgb(28, 182, 193);
    float: left;
}
.box-34 div{
    float: right;
    margin-top: 75px;
}
.box-34{
    width: 200px;
    height: 100px;
    background-color: rgb(28, 174, 193);
    float: left;
    margin-left: 100px;
}
.box-35{
    width: 100px;
    height: 200px;
    background-color: rgb(86, 28, 193);
    float: left;
    margin-left: 100px;
}
.boxr10{
    width: auto;
    height: 0px;
}
.box-36 div{
    text-align: center;
    margin-top: 30px;
}
.box-36{
    width: 100px;
    height: 300px;
    background-color: rgb(108, 87, 146);
    float: left;
    margin-left: -200px;
    margin-top: -100px;
}
.box-37{
    width: 200px;
    height: 100px;
    background-color: rgb(28, 193, 174);
    float: left;
    margin-left: 100px;
    margin-top: -100px;
}
.box-38{
    width: 200px;
    height: 100px;
    background-color: rgb(193, 28, 190);
    float: left;
    margin-left: 300px;
    margin-top: -100px;
}
.boxr11{
    width: auto;
    height: 100px;
}
.box-39 div{
    margin-left: 60px;
    float: left;
}
.center39{
    margin-top: 40px;
}
.downa{
    margin-top: 70px;
}
.box-39{
    width: 600px;
    height: 100px;
    background-color: rgb(28, 168, 193);
    float: left;
}
.boxr12{
    width: auto;
    height: 100px;
}
.box-40{
    width: 100px;
    height: 100px;
    background-color: rgb(195, 139, 178);
    float: left;
}
.box-41{
    width: 100px;
    height: 100px;
    background-color: rgb(28, 193, 144);
    float: left;
}
.box-42{
    width: 100px;
    height: 100px;
    background-color: rgb(95, 112, 115);
    float: left;
}
.box-43{
    width: 100px;
    height: 100px;
    background-color: rgb(105, 28, 193);
    float: left;
}
.box-44{
    width: 100px;
    height: 100px;
    background-color: rgb(193, 28, 108);
    float: left;
}
.box-45{
    width: 100px;
    height: 100px;
    background-color: rgb(28, 193, 64);
    float: left;
}